.wpcf7-form-control-signature-wrap{
	position:relative;
}

.wpcf7-form-control-signature-body{
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

.wpcf7-form-control-signature-body canvas{
	position: absolute;
    left: 0;
    top: 0;

	width:100%;
	height:100%;
}